/* container geral vitrine e os botões.. */

.carousel.container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto 0 auto;
    overflow: hidden;
}

.carousel.track {
    display: flex;
    transition: transform 0.5 ease-in-out;
}

.carousel.slide {
    min-width: calc(100% / 3);
    box-sizing: border-box;
    padding: o 15px;
}

.testando {
    color: black;
}