.carousel-wrapper {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 40px auto 0 auto;
    padding: 0 60px;
    box-sizing: border-box;

}

.carousel-container {
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: calc(100% / 3);
    box-sizing: border-box;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.carousel-slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px; 
    border: 1px solid #333;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 320px; 
    max-height: 340px; 
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #333;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    flex: 1 1 auto; 
    overflow: hidden; 
}

.project-info h3 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-info p {
    color: #aaa;
    flex-grow: 1;
    margin-bottom: 18px;
    text-align: left;
    width: 100%;
    max-height: 120px;
    overflow: auto;
}

.buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.btn-projeto {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #00c37a;
    color: #000;
    font-weight: bold;
    padding: 7px 18px;
    font-size: 1rem;
    min-width: 120px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s;
    margin: 0 4px;
}

.btn-projeto:hover {
    background: #00ffab;
    color: #222;
}

.btn-projeto i {
    margin-right: 6px;
}

/* botões de navegação */

.carousel-button {
    position: absolute;
    top: 125px;
    transform: translateY(-50%);
    background-color: rgba(26, 26, 26, 0.8);
    border: 2px solid #333;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: #1a1a1a;
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}

.carousel-button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

/* Responsividade  vitrine */
@media (max-width: 900px) {
    .carousel-slide {
        min-width: calc(100% / 2);
    }
}

@media (max-width: 600px) {
    .carousel-slide {
        min-width: 100%;
    }

    .carousel-button.prev {
        left: 10px;
    }

    .carousel-button.next {
        right: 10px;
    }
}