/* container geral vitrine e os botões.. */

.carousel-wrapper {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 40px auto 0 auto;
    padding: 0 60px;
    box-sizing: border-box;
    
}

.carousel-container {
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: calc(100% / 3);
    box-sizing: border-box;
    padding: 0 15px;
}

.carousel-slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 75px;
    border: 1px solid #333;
}

.project-info {
    text-align: left;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    border:  1px solid #333;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-info h3 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-info p {
    color: #aaa;
    flex-grow: 1;
    margin-bottom:  20px;
}

.btn-projeto {
    display: inline-block;
    background-color: #00c37a; 
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    align-self: flex-start; 
}

.btn-projeto:hover {
    background-color: #009f5a;
}

/* botões de navegação */

.carousel-button {
    position: absolute;
    top: 125px;
    transform: translateY(-50%);
    background-color: rgba(26, 26, 26, 0.8);
    border: 2px solid #333;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: #1a1a1a;
}

.carousel-button.prev {
    left: 0; 
}

.carousel-button.next {
    right: 0; 
}

.carousel-button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

/* Responsividade para a vitrine */
@media (max-width: 900px) {
    .carousel-slide {
        min-width: calc(100% / 2); 
    }
}

@media (max-width: 600px) {
    .carousel-slide {
        min-width: 100%; 
    }
    .carousel-button.prev {
        left: 10px;
    }
    .carousel-button.next {
        right: 10px;
    }
}